@model trabalhoTi2Final.Models.Ementas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
                function ConfirmMessageBox() {
                    var result = confirm("Pretende mesmo apagar este PRATO???");
                    if (result) {
                        return true;
                    } else {
                        return false;
                    }
                }
</script>

<div class="alert alert-danger" role="alert">
    Deseja mesmo apagar esta Ementa???
</div>


<div>
    <h4>Ementas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*     @Html.DisplayNameFor(model => model.Prato.Descricao)*@
            <p>Descrição do Prato</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prato.Descricao)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.Dia)*@
            <p>Dia da refeição</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>

        <dt>
            <p>Tipo de Refeição</p>
            @*@Html.DisplayNameFor(model => model.Periodo)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt>
            <p>Tipo de Prato</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prato.TipoPrato.Designacao)
        </dd>

        <dt>
            <p>Imagem do Prato</p>
        </dt>

        <dd>
            <a href="~/images/@Model.Prato.Image" target="_blank">
                <img src="~/images/@Model.Prato.Image" height="150" />
            </a>

        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="javascript:return ConfirmMessageBox();" /> |
            @Html.ActionLink("Voltar para a listagem de Ementas", "Index")
        </div>
    }
</div>
