@model trabalhoTi2Final.Models.TipoPrato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoPrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designacao)
        </dd>

        <dt>
            @*  @Html.DisplayNameFor(model => model.Image)*@

          
        </dt>

        <dd>
            <a href="~/images/@Model.Image" target="_blank">
                <img src="~/images/@Model.Image" height="150" />
            </a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDTipoPrato }) |
    @Html.ActionLink("Voltar para listagem", "Index")
</p>
