@model IEnumerable<trabalhoTi2Final.Models.TipoPrato>

@{
    ViewBag.Title = "Listagem de Tipo de Pratos";
}

<h2>Listagem de Tipo de Pratos</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-striped">
    <tr>
        <th>
  <p>Designação</p>
            @* @Html.DisplayNameFor(model => model.Designacao)*@
        </th>
        <th>
    <p>Imagem</p>
            @*Html.DisplayNameFor(model => model.Image)<*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Designacao)
        </td>
        <td>
            @*    @Html.DisplayFor(modelItem => item.Image)*@
            <a href="~/images/@item.Image">
                <img src="~/images/@item.Image" width="130" height="130" />
            </a>
        </td>
        <td>
            @Html.ActionLink("Editar ", "Edit", new { id=item.IDTipoPrato }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.IDTipoPrato })
        </td>
    </tr>
}

</table>
