@model IEnumerable<trabalhoTi2Final.Models.Pratos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoPrato.Designacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th style="width: 250px;
 padding:10px;
 _width: 255px;">
            @Html.DisplayNameFor(model => model.Descricao)
        </thstyle="width:>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPrato.Designacao)
            </td>
            <td>
                @*    @Html.DisplayFor(modelItem => item.Image)*@
                <a href="~/images/@item.Image" target="_blank">
                    <img src="~/images/@item.Image" width="130" height="130" />
                </a>
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Descricao)


            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IDPratos }) |
             
                @Html.ActionLink("Apagar Prato", "Delete", new { id = item.IDPratos })
            </td>
        </tr>
    }

</table>
