@model trabalhoTi2Final.Models.Refeicao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Refeicao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prato.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prato.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizador.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDRefeicao }) |
    @Html.ActionLink("Back to List", "Index")
</p>
